<!-- Footer -->
<section class="section" id="contact">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-lg-6">
            <h3>Contact us</h3>
            <p class="lead">Simply fill out your name, email and phone number and we will be in touch shortly.</p>
            <p><strong>Hours:</strong> 10am - 6pm, Monday - Friday </p>
            <form action="<?php print WEB_ROOT;?>reservations/create" method="post" id="new_reservation" class="mt-5">
              <div class="form-group">
                <label class="sr-only">Your name</label>
                <input class="form-control form-control-lg" placeholder="Your name" type="text" name="name">
              </div>
              <div class="form-group">
                <label class="sr-only">Email address</label>
                <input class="form-control form-control-lg" placeholder="Email address" type="text" name="email">
                <input class="form-control d-none form-control-lg" placeholder="Your title" type="text" name="title">
              </div>
              <div class="form-group">
                <label class="sr-only">You phone number</label>
                <input class="form-control form-control-lg" placeholder="Phone number" type="text" name="phone">
              </div>
              <div class="g-recaptcha" data-sitekey="6LfeluIUAAAAAPlRP3_ogJe__R3iflFxtrAT2_sU"></div>
              <button type="submit" name="submit" class="btn btn-dark cta-btn rounded-pill mt-4">Send info</button>
            </form>
          </div>
          <div class="col-lg-5 ml-lg-auto">
            <h3>495 Elder Street Suite 8/9
                <br>
                Sand City, CA 93955
            </h3>
            <p class="lead my-4">E: contact@centralcoastpharmacyservices.com <br>T: (831) 383-5040 <br>F: (831) 383-5045 </p>
            <p>Central Coast Pharmacy Services and sister pharmacy <a href="http://www.southvalleypharmacy.com">South Valley Pharmacy Services</a> are owned and operated by Dana Gove. Dana, with her wonderful team, has been servicing residential, assisted living and group homes across central and northern California for over 25 years. She strives to provide the best services possible to all her clients.</p>
          </div>
        </div>
      </div>
</section>
<footer class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://twitter.com/coast_pharmacy">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com/centralcoastpharma/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; <a href="http://<?php print $_SERVER['HTTP_HOST'];?>">{{site.title}}</a> {{ site.time | date: '%y' }}
                </p>
            </div>
        </div>
    </div>
</footer>